/* Bendras stilius: */
input {
    color:rgb(253, 0, 0);
}

textarea {
    color: red;
}

nav {
    background-color: midnightblue;
}

.page-footer {
    background-color: midnightblue;
}

.pagrlogo {
    height: 128px;
}

@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
        height: 128px;
        line-height: 128px;
    }
}


/* Genadijaus stiliaus kodas: */

.BendraInfo {
    font-weight: bold;
    text-align: center;
    font-feature-settings: "curs";
}

.BendraInfo img {
    width: 100%;
    max-width: 900px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

/* .Darbuotojai  p{ */
/* display: inline-flex; */

/* } */
.carousel{
    text-align: center;
    font-weight: bold;
  }

    /* Set the size of the div element that contains the map Google maps */
    #map {
      height: 300px;  /* The height is 400 pixels */
      width: 51%;  /* The width is the width of the web page */
     }

     #zemelapis {
       font-weight: bold;
       color: blue;
       font-size: x-large;

     }

/* Valdemaro stiliaus kodas: */


.topcardheight {
    padding-top: 6px;
    padding-bottom: 0px;
}

.footerimg {
    height: 300px;
    background-image: url(../images/team.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    
}

.footerformposition {
    padding: 120px;
}


.input-field label {
    color: white;
  }

  .overlay {
    height: 100%;
    width: 100%;
    background-color: #00000083;
    position: absolute;
    top: 0px;

  }

  .btn {
    background-color: red;
    position: absolute;
  }


/* Dominyko stiliaus kodas: */

/* Manto stiliaus kodas: */

.ApieInfo { 
    width: 100%;
    max-width: 900px;       
    font-weight: bold;
    text-align: center;   
    font-style: italic; 
    margin-left: auto;
    margin-right: auto;
    color: black;   
} 



.comentPosition {
  padding: 100px;
  color: black;
}

.tost { 
  text-align: center;
  color: black;
  

} 


/*  */
/* Teodoro stiliaus kodas: */

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
  position: absolute;
}
.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
  transform-style: inherit;
  color: ivory;
  font-style: italic;
  
}
.slide2 {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
  transform-style: inherit;
  color: yellow;
  font-style: italic;
}

 
