/* Bendras stilius: */

nav {
    background-color: midnightblue;
}
.page-footer {
    background-color: midnightblue;
}




/* Genadijaus stiliaus kodas: */





/* Valdemaro stiliaus kodas: */

.pic {
    width: 100%;
    
    
}





/* Dominyko stiliaus kodas: */




/* Manto stiliaus kodas: */






/* Teodoro stiliaus kodas: */